# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
.venv/

# Django
*.pot
*.pyc
db.sqlite3
media/

# Static files (if collected)
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Migrations cache (optional safe ignore)
**/migrations/__pycache__/