<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ APP_NAME }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="/static/css/core.css">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-left">
            <i class="fa fa-briefcase"></i>
            <span class="logo">{{ APP_NAME }}</span>
        </div>

        <div class="nav-right">
            <a href="/top/">
                <i class="fa fa-chart-line"></i>
                Top
            </a>
        </div>
    </nav>


    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>